.homePage {
  background: hwb(0 15% 85%);
  height: 140vh;
  width: 100vw;



}

.change-my-color {
  z-index: -1;
  width: 100%;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(320deg) brightness(30%) contrast(104%);
}

.home-page-content {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 20%;

  display: flex;
  justify-content: space-around;

}

.home-Left {
  flex: 1;
  display: flex;
  align-items: center;


  flex-direction: column;

}

.left-heading {

  margin-top: 20%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
}

.left-para {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
}

.home-Right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width:1273px) {
  .home-page-content {
    flex-direction: column;
    position: absolute;
    top: 0;
  }

  .homePage {
    height: 160vh;



  }

  .left-heading {

    margin-top: 50%;

  }

}

@media (max-width: 684px) {
  .homePage {
    height: 120vh;



  }

  .left-heading {

    margin-top: 30%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 59px;
    color: #FFFFFF;
  }

  .left-para {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 23px;

    color: #FFFFFF;
  }

}

@media (max-width: 1084px) {

  .left-heading {

   
    font-size: 2rem;
    
    line-height: 59px;
  
  }

  .left-para {

   
    font-size: 1rem;
    line-height: 23px;

    color: #FFFFFF;
  }

}
@media (max-width: 758px) {

  .left-heading {

   
    font-size: 1.5rem;
    
    line-height: 59px;
  
  }

  .left-para {

   
    font-size: 1rem;
    line-height: 23px;

    color: #FFFFFF;
  }

}

@media (max-width: 450px) {

  .left-heading {

    margin-top: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 59px;
    color: #FFFFFF;
  }

  .left-para {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 23px;

    color: #FFFFFF;
  }

}