
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Italiana&family=Roboto:wght@300;500;900&family=Sacramento&display=swap');
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
}
html {
  box-sizing: border-box;
  overflow-x:hidden ;

  
}
body {
  font-family: 'roboto', sans-serif;
 
}

